{% extends "base.html" %}
{% load cms_tags %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{% static "monthly.css" %}">

    <div class="row">
        <div class="col main-content">
            {% placeholder "content" %}
            {% if my_bookings %}
                <h3>{% trans 'Your upcoming bookings' %}</h3>
                <ul class="subnav">
                    {% for booking in my_bookings %}
                    <li>{{ booking.name }} {{ booking.start|date:"Y-m-d H:i" }}-{{ booking.end|date:"H:i" }}
                        <button class="btn btn-maskin deletebtn" data-toggle="modal" data-target="#DeleteModal" data-start="{{ booking.start }}" data-end="{{ booking.end }}" data-id="{{ booking.id }}">{% trans 'Remove booking' %}</button>
                        <hr>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}


            <div class="monthly" id="mycalendar"></div>
        </div>
    </div>
    <div class="modal fade" id="BookingModal" tabindex="-1" role="dialog" aria-labelledby="BookingModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="BookingModalLabel">{% trans 'Make booking' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    {% if user.is_authenticated %}
                        {% trans 'Do you want to book this?' %}
                        <div class="row">
                            <div class="col"><b>{% trans 'Start' %}:</b> </div>
                            <div class="col"><span id="text_start"></span></div>
                        </div>
                        <div class="row">
                            <div class="col"><b>{% trans 'End' %}:</b> </div>
                            <div class="col"><span id="text_end"></span></div>
                        </div>

                        <form method="post">
                            <div class="form-group">
                                {% csrf_token %}
                                {% for hidden in booking_form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                {% for field in booking_form.visible_fields %}
                                    {{ field.label_tag }} {{ field }}
                                {% endfor %}
                                {{ phone_form }}
                                {{ email_form }}
                            </div>
                            <button type="submit" id="savebooking" class="btn btn-maskin">{% trans 'Make booking'%}</button>
                        </form>
                    {% else %}
                        {% trans 'Login required to make bookings.' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="DeleteModalLabel">{% trans 'Delete booking' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    {% if user.is_authenticated %}
                        {% trans 'Are you sure you want to delete this booking?' %}
                        <div class="row">
                            <div class="col"><b>{% trans 'Start' %}:</b> </div>
                            <div class="col"><span id="text_start"></span></div>
                        </div>
                        <div class="row">
                            <div class="col"><b>{% trans 'End' %}:</b> </div>
                            <div class="col"><span id="text_end"></span></div>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            {% for hidden in delete_booking.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <button type="submit" id="deletebooking" class="btn btn-maskin">{% trans 'Delete booking'%}</button>
                        </form>
                    {% else %}
                        {% trans 'Login required to make bookings.' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if perms.booking_app.delete_booking %}
        <div class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="InfoModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="InfoModalLabel">{% trans 'Info booking' %}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body" id="info-body">

                    </div>
                </div>
            </div>
        </div>
        <script>
            $("#mycalendar").on('click','.monthly-event-indicator' ,function () {
                var bookingid = $(this).data('eventid')
                if (bookingid!=-1){
                   $.ajax({
                        url: '{{ request.path }}ajax/info',
                        data: {
                            bookingid: bookingid,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        method: "POST",
                        datatype: 'html',
                            success: function (data) {
                                $("#info-body").html(data);
                                $('#InfoModal').modal('show');
                            }
                    });

               }
            });
        </script>
    {% endif %}
    <script type="text/javascript" src="{% static 'monthly.js' %}"></script>
    <script type="text/javascript">
        $(window).on('load', function() {
            $('#mycalendar').monthly({
                mode: 'event',
                xmlUrl: 'bookings.xml',
                weekStart: 'Mon',
                eventList: false
            });
        });
    </script>
    <script type="text/javascript">
        $('#BookingModal').on('show.bs.modal', function (event) {
            var event = $(event.relatedTarget);
            var start = event.data('start');
            var end = event.data('end');
            var modal = $(this);
            modal.find('.modal-body #text_start').text(start);
            modal.find('.modal-body #text_end').text(end);
            modal.find('.modal-body #id_start').val(start);
            modal.find('.modal-body #id_end').val(end);
        });
        $('#DeleteModal').on('show.bs.modal', function (event) {
            var event = $(event.relatedTarget);
            var start = event.data('start');
            var end = event.data('end');
            var id = event.data('id');
            var modal = $(this);
            modal.find('.modal-body #text_start').text(start);
            modal.find('.modal-body #text_end').text(end);
            modal.find('.modal-body #id_id').val(id);
        });
    </script>

{% endblock content %}



