{% load cms_tags menu_tags %}
<div class="row">
    {% comment %} If the current page have a child or a parent then show submenu. {% endcomment %}
    {% if current_page.numchild > 0 or current_page.parent %}
        <div class="col">
        <ul class="list-group sub-menu">
            {% show_sub_menu 100 1 0 "submenu.html" %}
        </ul>
        </div>
        <div class="col">
            {% placeholder "content" %}
        </div>

    {% else %}
        <div class="col">
            {% placeholder "content" %}
        </div>

    {% endif %}


</div>