{% load i18n staticfiles thumbnail apphooks_config_tags %}

{% if author %}
        <a href="{% namespace_url "article-list-by-author" author.slug namespace=namespace default='' %}">
            {% if author.visual %}
                {% thumbnail author.visual "50x50" crop upscale subject_location=author.visual.subject_location as author_image %}
                <img src="{{ author_image.url }}" width="50" height="50" alt="{{ author.name }}">
            {% endif %}
            {{ author.name }}
        </a>
        {% if author.function %} <i>{{ author.function }}</i>{% endif %}
        {% if author.article_count %} <span>{{ author.article_count }}</span>{% endif %}

{% endif %}