@import "scss/variables";
@import "scss/aldryn";
@import "scss/subnav";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body{
  background-color: rgb(250, 250, 250);
  font-family: $font;
  overflow-wrap: break-word;
}
h1, h2, h3, h4, h5, h6{
  font-family: $header-font;
}

.content{
  background-color: white;
}

.main-content{
  box-shadow: $shadow;
  padding-top: $margin-top;
  padding-bottom: $margin-top;
  background-color: white;

}

.sidebar{
  margin: 0 30px;
  background-color: white;
  box-shadow: $shadow;
  }

.header, .footer{
  background-color: $main-red;
  padding: 3vh;
  color: $yellow;
  a{
    color: $yellow;
    text-decoration: none;
  }
}

.footer{
  margin-top: 0px;
  background: $dark-red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($dark-red, $main-red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($dark-red, $main-red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($dark-red, $main-red); /* For Firefox 3.6 to 15 */
  background: linear-gradient($dark-red, $main-red); /* Standard syntax */
}

.header{
  background: $dark-red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($main-red, $dark-red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($main-red, $dark-red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($main-red, $dark-red); /* For Firefox 3.6 to 15 */
  background: linear-gradient($main-red, $dark-red); /* Standard syntax */
  position: relative;
  height: 30vh;

  .header-img{
    height: 30vh;
    width: auto;
  }

  a{
    width: 96vw;
    text-align: center;
    position: absolute;
    bottom: 0px;
  }
  .header-img-div{
    position: relative;
    vertical-align: bottom;
    width: 30vh;
  }

  .header-img{
    padding-top: 10px;
  }
}

.navbar-custom{
  background-color: $dark-red;
  padding-top: 0;
  padding-bottom: 0;
  font-family: $header-font;
  button{
    i {
      color: $yellow;
    }
    &:focus{
      outline: 5px auto $yellow;
    }
  }
  li{
    height: 50px;
    line-height: 50px;
    text-align: center;
    a{
      color:$yellow;
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }

    &.active, &:hover{
      border-bottom: 5px solid $yellow;
    }
  }
}



.img-responsive{
    max-width: 100%;
    height: auto;
}

.img-responsive-height{
  height: 100%;
  width: auto;
}

.btn-maskin{
  color: $yellow;
  background-color: $main-red;
  border-color: $main-red;
  &.active{
    color: $main-red;
    background-color: $yellow;
    border-color: $yellow;
  }
}