@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url('https://fonts.googleapis.com/css?family=Lato');

.category-list {
  list-style-type: none;
  display: block;
  padding: 0; }
  .category-list li {
    display: inline;
    float: left; }

.category-badge {
  margin-left: 5px; }

a .article-title, a:hover {
  color: black;
  text-decoration: none; }

.article-info span {
  margin-right: 20px; }

.search-results {
  list-style-type: none;
  padding: 0; }
  .search-results a {
    color: black;
    text-decoration: none; }

#search-info {
  margin-top: 15px; }

.subnav {
  margin-top: 30px;
  padding: 0;
  list-style-type: none; }
  .subnav a {
    color: black;
    text-decoration: none;
    padding-left: 15px; }
  .subnav li {
    padding: 10px 0 0; }
  .subnav li.active {
    border-radius: 5px;
    background-color: #B9000A; }
    .subnav li.active a {
      color: #FFE500; }
  .subnav ul {
    list-style-type: none; }
  .subnav hr {
    margin: 10px 0 0; }

.subdiv {
  background-color: white;
  margin-right: 30px;
  box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.25); }

body {
  background-color: #fafafa;
  font-family: sans-serif;
  overflow-wrap: break-word; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif; }

.content {
  background-color: white; }

.main-content {
  box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.25);
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white; }

.sidebar {
  margin: 0px;
  background-color: white;
  box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.25); }
  @media (min-width: 768px) {
    .sidebar {
      margin: 0 30px; } }

.header, .footer {
  background-color: #B9000A;
  padding: 3vh;
  color: #FFE500; }
  .header a, .footer a {
    color: #FFE500;
    text-decoration: none; }

.footer {
  margin-top: 0px;
  background: #8F000A;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#8F000A, #B9000A);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#8F000A, #B9000A);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#8F000A, #B9000A);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#8F000A, #B9000A);
  /* Standard syntax */ }

.header {
  background: #8F000A;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#B9000A, #8F000A);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#B9000A, #8F000A);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#B9000A, #8F000A);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#B9000A, #8F000A);
  /* Standard syntax */
  position: relative;
  height: 30vh; }
  .header .header-img {
    height: 30vh;
    width: auto; }
  .header a {
    width: 96vw;
    text-align: center;
    position: absolute;
    bottom: 0px; }
  .header .header-img-div {
    position: relative;
    vertical-align: bottom;
    width: 30vh; }
  .header .header-img {
    padding-top: 10px; }

.navbar-custom {
  background-color: #8F000A;
  padding-top: 0;
  padding-bottom: 0;
  font-family: Helvetica, sans-serif; }
  .navbar-custom button i {
    color: #FFE500; }
  .navbar-custom button:focus {
    outline: 5px auto #FFE500; }
  .navbar-custom li {
    height: 50px;
    line-height: 50px;
    text-align: center; }
    .navbar-custom li a {
      color: #FFE500;
      display: inline-block;
      vertical-align: middle;
      line-height: normal; }
    .navbar-custom li.active, .navbar-custom li:hover {
      border-bottom: 5px solid #FFE500; }

.img-responsive {
  max-width: 100%;
  height: auto; }

.img-responsive-height {
  height: 100%;
  width: auto; }

.btn-maskin {
  color: #FFE500;
  background-color: #B9000A;
  border-color: #B9000A; }
  .btn-maskin.active {
    color: #B9000A;
    background-color: #FFE500;
    border-color: #FFE500; }

.filer_image {
  margin: 2px; }
  .filer_image.right {
    float: right; }
  .filer_image.left {
    float: left; }
  .filer_image.center {
    display: block;
    margin: auto; }

.video-fullwidth {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }
  .video-fullwidth iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute; }

/*# sourceMappingURL=main.css.map */
